* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

body {
  font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #2e304e;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAWElEQVQYVwXBwQ1AMBSA4f+VKgc9OlkCIzCBTYxgXImLiKSKPt8nXTeqi5ZXEq+tQG/KlAiaI/20KFfAhJPHOoyvKb6MKAkZ5lUv73HbTpF9xLbh2CPeCD+jSx+ZhkbkBgAAAABJRU5ErkJggg==");
}

h1,h2,h3,h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

header {
  padding: 15px 30px;
  background: rgba(0,0,0, 0.2)
}

header .brand {
  font-size: 2em;
  text-transform: uppercase;
}

header .actions {
  margin-top: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.8px;
  float: right;
}

header .actions a {
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}

header .actions a:hover {
  text-decoration: underline;
}

header .actions li {
  display: inline-block;
  padding-left: 10px;
}

div h2 {
  background: rgba(0,0,0, 0.2);
  padding: 5px 15px;;
  font-weight: normal;
}

main {
  padding: 30px;
}

#songs div {
  display: inline-block;
  padding-right: 20px;
}

iframe {
  background: #111;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0,0,0, .2);
}

input, button {
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #222;
}

button {
  background: #d6d6d6;
  font-weight: bold;
  padding: 10px 15px;
}
